@CHARSET "UTF-8";

.affiche {
	max-height:450px;max-width:300px; margin:50px;
}
.description {
	padding: 20px; margin-top: 50px;
}
h1,h2,h3,h4,h5,h6 {
	text-align: center
}
.selectionTarifs {
	padding: 20px; 
	margin-top: 50px; 
	background-color: #8D8F9E;
	margin-bottom:100px;
	margin-right: 50px;
	margin-left:50px;
	min-height: 400px;
	border-style: ridge;
    border-width: 2px;
}
.grilleTarif {
	min-height: 200px;
	margin-bottom: 20px;
	margin-right:10px;
}
